<div class="container" style="margin-top: 50px;">
  <div class="title-text-v2">
    <h3>{{'Categories'}}</h3>
  </div>
  <div class="featured-products home_2 new-arrivals lastest">
    <ul class="tabs tabs-title">
      <li class="item" rel="tab_1">{{'All Categories'}}</li>
    </ul>
    <div class="tab-container space-10">
      <div id="tab_1" class="tab-content active">
        <div class="products hover-shadow ver2 border-space-product">
          <div class="product" style="height: 280px;" *ngFor="let category of (categories$|async)">
            <div class="product-images">
              <a [routerLink]="['/products',category.Title]">
                <img class="primary_image" src="{{category.ImageUrl}}" alt="" />
                <img class="secondary_image" src="{{category.ImageUrl}}" alt="" />
              </a>
            </div>
            <a [routerLink]="['/products',category.Title]">
              <p class="product-title" style="background-color: lightgray;" [ngClass]="{'text-right' : lang=='ar'}">{{category.Title}}</p>
            </a>
          </div>
          <!-- End item -->
        </div>
        <!-- End product-tab-content products -->
      </div>
      <!-- End tab-content -->
    </div>
  </div>
</div>
