<div class="site-wrap">
    <div class="site-blocks-cover inner-page" style="background-image: url('assets/images/hero_2.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center" data-aos="fade">
    </div>
    <div class="site-section login-page">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h2 class="h3 mb-5 text-black get-in-touch text-center">{{'Login'}}</h2>
                    <div class="horizontalLine"></div>
                    <app-login></app-login>
                </div>
                <div class="col-md-1" style="text-align: center; padding:0px">
                    <div class="or">
                        <h5>{{'OR'}}</h5>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-12">
                        <h2 class="h3 mb-3 text-black get-in-touch text-center">{{'Sign Up'}}</h2>
                    <div class="horizontalLine"></div>
                        <app-register></app-register>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
