.about-us img {
    width: 100%;
    height: 100%;
}

.about-us .about-image {
    padding: 0px;
}

.about-us-description {
    padding: 50px;
}

.about-us-description h1 {
    margin-bottom: 40px;
    margin-top: 50px;
}

.about-us-description p {
    font-size: 24px;
    color: rgb(146, 146, 146);
}