<app-cover></app-cover>
<div class="" style="background-color: lightgray; padding: 50px;">
  <div class="container container-ver2">
    <div class="row">
      <div class="col-md-6 col-md-offset-3"><video style="width: 100%;" controls src="{{homeVideoUrl}}">
        </video></div>

    </div>
  </div>
</div>
<app-categories></app-categories>

<div class="" style="background-color: lightgray; padding: 50px;">
  <div class="container container-ver2">
    <div class="row">
      <div class="col-md-7 col-xs-12">
        <div class="txt-download-app">
          <h2>التواصل أصبح أسهل و أسرع</h2>
          <!-- <p>مع تطبيق الزواج سيصبح التواصل ف متناول يديك. ابقى على اطلاع بكل ما هو جديد واكتشف مشتركين انضموا حديثا وقتما تشاء</p> -->
          <div class="download-app" style="margin-top: 70px;">
            <a href="" target="_blank"
              rel="noopener noreferrer" class="wrap-content" style="color: white;">
              <span class="txt-app">Download on the</span>
              <h2>Google Play</h2>
              <img src="./assets/images/google-play.png">
            </a>
            <a href="" target="_blank" rel="noopener noreferrer"
              class="wrap-content" style="color: white;">
              <span class="txt-app">Download on the</span>
              <h2>App Store</h2>
              <i class="fa fa-apple"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-xs-12">
        <div class="img-app animated wow fadeInLeft" data-wow-delay="1s">
          <img src="assets/images/phone.png">
        </div>
      </div>
    </div>
  </div>
</div>
